
#main
  div(class='block')
    h1#name Ting Lew
    p#contact Washington, D.C | 240 418 1754 | ting.lew@gmail.com
    
  div(class='block')
    h2.header Skills
    p#skills Javascript, React, Redux, Node, Ruby on Rails, Jest, Capybara, Jenkins, AWS
  
  div(class='block')
    h2.header Experience
    p(class='subheader') Lead Front End Developer - Dovel Technologies
    p(class='subtext') Twinbrook, MD ( 10/2018 - Present, 07/2017 - 04/2018 )
    ul
      li Developed and architected the front end for Recipient Insight, a responsive dashboard to display grant data.
      li Designed and maintained applications with accessibility and 508 compliance.
      li Developed a React Native application with offline autosave functionality for remote workers.
      li Created a component architecture using a mix of Material UI and TailwindCSS.

    p(class='subheader') Software Developer - DCAF Engineering 
    p(class='subtext') Washington D.C ( 06/2015 - Present )
    ul
      li Implemented autosave features to Rails forms used by DC Abortion Fund case managers.
      li Fixed complex autosaving bugs and wrote Capybara integration tests.
      li Spearheaded efforts to migrate to ReactJS to refactor complex jquery code.
    
    h2(class='subheader') UI Developer - OneGlobe IT
    p(class='subtext') Washington, D.C ( 04/2018 - 09/2018 )
    ul
      li Assisted the redesign of a legacy grants management app into a React and Redux application.
      li Worked alongside United States Design Service to convert mockups into functional pages.
      li Created new pages and features and wrote Jest tests to meet the 70% code coverage minimum.
    
    h4(class='subheader') Programmer I - Tier 1 Consulting Group
    h4(class='subtext') Columbia MD ( 08/2015 -12/2016 )
    ul
      li Redesigned existing company website to a static React website.
      li Ported D3 jquery visualizations into React Components that represent HHS healthcare data.
    
  div(class='block')
    h2(class='header') Education
    p(class='subtext') University of Maryland, College Park. 2014
    p(class='subtext') B.S in Economics. Focus in Game Theory

  h2(class='header') Hobbies
  p(class='subtext') Spearheaded fermentation efforts in the office (Kombucha, Milk Kefir, Kefirs)
  p(class='subtext') Dance Brazilian Zouk

style
  include resume.scss
